:root {
    --background-transparent: #ffffffb3 ;
    --background-secondary: #eee;
    --highlight: #0003d1;
    --text-light: #555;
    --contact-text: #444;
}

html {
    scroll-behavior: smooth;
}

#inner-wrap {
    margin: 0;
}

.article--background-img {
    background-image: url(../img/polignano-blur.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 3em;
}

.bold {
    font-weight: bold;
}

.entry-header {
    max-width: 1170px;
    margin: 0 auto;
}

.right-sidebar #primary {
    width: 100%;
}

.card {
    list-style: none;
    background-color: var(--background-transparent);
    border-radius: 8px;
    height: 485px;
    max-width: 270px;
    justify-self: center;
    transition: 0.5s;
    position: relative;
}

.card-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
}

.card:hover {
    background-color: #dcefff;
    transform: scale(1.1);
    transition: 0.5s;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card p {
    color: black;
    font-weight: 600;
    font-size: 1.1em;
}

.grid {
    display: grid;
    grid-template-columns: 
    repeat(auto-fit,minmax(min(100%,max(264px,100%/5)), 1fr));
    grid-gap: 2em;
    margin: 0 auto;
    max-width: 1170px;
}

.ak-container {
    width: auto;
    padding: 0;
}

.card figure {
    padding: 5px;
    overflow: hidden;
}

.card figure img {
    object-fit: cover;
    height: 260px;
    border-radius: 8px;
}

.card__title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0.5em;
}

.card__duration {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card__duration p {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1em;
}

.card__rating {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    margin-bottom: 0.5em;
}

.card__rating p {
    font-size: 0.8em;
    margin-bottom: 0;
}

.card__rating__stars {
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
}

.card__price {
    padding: 0 12px;
    font-family: "Cagliostro";
}

.card__price p {
    margin: 0;
}

.main-title {
    padding: 0 32px;
}

.div--about {
    padding: 32px;
    max-width: 1170px;
}

.div__title {
    color: black;
    font-weight: 500;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 50px;
}

.div__title::after {
    content: "";
    display: block;
    background-color: var(--highlight);
    width: 100%;
    height: 2px;
}

@media (min-width: 980px) {

    .copyright {
        margin-left: 32px;
    }

}


.nav {
    height: 100%;
}

.nav li {
    list-style: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: block;
    height: 100%;
    padding: 30px 8px 0;
    position: relative;
}

.nav li a {
    display: inline-block;
    height: 100%;
    color: black;
}

.nav ul li a.active span {
    background-color: var(--highlight);
}

.site-branding.logo-left {
    padding: 0;
}

.nav li a:visited {
    color: black;
}

.nav ul.submenu {
    visibility: hidden;
    opacity: 0;    
    background-color: white;
    border: var(--background-secondary) solid 2px;
    z-index: -4;
    position: absolute;
    bottom: -180px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    width: max-content;
    height: min-content;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}


.nav li:hover .submenu {
    visibility: visible;
    bottom: -190px;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 9999;
    
}

.nav ul li a.active ~ .submenu {
    visibility: visible;    
    bottom: -190px;
    opacity: 1;
    z-index: 9999;
}


.nav ul.submenu li {
    padding: 6px;
    height: min-content;
    border-bottom: solid var(--background-secondary) 2px ;
    height: 42px;
}

.nav li span {
    position: absolute;
    bottom: 0;
    left: 1px;
    width: 100%;
    height: 3px;
}

.nav--main li:hover span {
    background-color: var(--highlight);
}

.nav .submenu li span {
    background-color: white;
    height: 2px;
}

.nav .submenu li:hover span {
    background-color: var(--highlight);
}

.nav--home a#home span {
    background-color: var(--highlight);
}

.nav--tour a#tour span {
    background-color: var(--highlight);
}

.nav .submenu--cook li#cookingSpan span {
    background-color: var(--highlight);
}

.nav .submenu--vineyard li#vineyardSpan span {
    background-color: var(--highlight);
}

.nav .submenu--nature li#natureSpan span {
    background-color: var(--highlight);
}

.nav .submenu--09 li#wedSpan span {
    background-color: var(--highlight);
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 4em;
    margin: 0;
    height: 100%;
}

.ak-container#main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1170px;
    padding-right: 3em;
}

.ak-container#main-header::before {
    content: none;
}

.ak-container#main-header::after {
    content: none;
}


.heart {
    background-image: url(../img/heart-blank.svg);
    height: 32px;
    width: 32px;
    background-size: contain;
    position: absolute;
    top: 20px;
    right: 12px;
    -webkit-tap-highlight-color: transparent;

}

.heart.active {
    background-image: url(../img/heart-full.svg);
    animation-name: scale;
    animation-duration: 0.6s;
}


@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/*
.heart:active {
    scale: 1.5;
    transition: 0.3s;
}*/

.card__price span {
    color: var(--text-light);
    font-size: 0.6em;
}

.main-content {
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-position: center;
    min-height: 750px;
    position: relative;
}

.main-content__text {
    max-width: 60%;
    background-color: var(--background-transparent);
    padding: 24px;
    border-radius: 12px;
    transition: ease 0.3s;
}

.main-content__text h2 {
    color: black;
    font-family: "Cagliostro";
    font-weight: bolder;
    text-transform: uppercase;
}

.main-content__info {
    color: black;
    background-color: var(--background-transparent);
    padding: 12px 24px;
    height: min-content;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    font-size: 1.25em;
}

.button-reserve {
    margin: 0 auto;
    text-align: center;
    padding: 0.5em 1em;
    background-color: var(--highlight);
    border: solid 2px var(--highlight);
    border-radius: 32px;
    display: block;
    transition: 0.25s;
}

.button-reserve a {
    color: white;
    margin: 0;
    transition: 0.25s;
}

.button-reserve:hover {
    cursor: pointer;
    background-color: white;
    color: var(--highlight);
    transition: 0.25s;
}

.button-reserve:hover a {
    color: var(--highlight);
    transition: 0.25s;
}

.main-content__info .card__price p {
    display: flex;
    flex-direction: column;
}

.ak-container--rating, .ak-container--about, .ak-container--footer  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ak-container--rating, .ak-container--footer {
    background-color: #eee;
}

.rating {
    max-width: 1170px;
    width: 100%;
    padding: 32px;
}

.rating__main {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 12px;
}

.rating__first {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating__stars {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rating__stars img {
    width: 50px;
}

.rating__overall {
    max-width: min-content;
    padding: 0 32px;
    font-size: 48px;
    font-weight: bolder;
    color: gold;
    -webkit-text-stroke: 2px var(--text-light);
    text-align: center;
    border-radius: 48px
}

.rating__overall p {
    margin: 0;
}

.rating__overall--small {
    font-size: 0.75em;
    color: var(--text-light);
}

.rating__review-count {
    font-size: 1.25em;
}

.main-content__info .card__rating a {
    text-decoration: none;
    color: black;
}

.main-content .card__rating a:hover {
    text-decoration: underline;
}

.heart__box {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    background-color: var(--background-transparent);
    padding: 1em;
    border-radius: 24px;
}

.heart__box p {
    margin: 0;
    font-size: 1.2em;
}

.heart__box .heart {
    position: static;
}

.main-content--cook {
    background-image: url(../img/cooking-blur.jpg);
}

.main-content--wine {
    background-image: url(../img/wine-blur.jpg);
}

.main-content--valley {
    background-image: url(../img/itria-blur.jpg);
}

.main-content--monopoli {
    background-image: url(../img/monopoli-backgroud-blur.jpg);
}

.main-content--nature {
    background-image: url(../img/nature-blur.jpg);
}

.main-content--market {
    background-image: url(../img/market-background-blur.jpg);
}

.main-content--ceramic {
    background-image: url(../img/ceramics-blur.jpg);
}

.main-content--09 {
    background-image: url(../img/logo-definitvo.png);
}

.toggle-text {
    display: none;
}

.rating__user {
    max-width: 100%;
}

.rating__user__card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;
}

.rating__user__card__name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.rating__user__card__name div:first-child {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: solid 1px var(--text-light);
    background-color: white;
}

.rating__user__card__name p {
    margin-bottom: 0;
}

.footer-block#contact {
    width: "";
    max-width: 1170px;
    padding: 32px;
    margin-left: 0;
}

.contact__text p {
    color: var(--contact-text);
}

.contact__text p a {
    color: var(--contact-text);
    border-bottom: solid 1px var(--text-light);
}

.contact__text p a:hover {
    border-bottom: solid 2px var(--highlight);
    color: var(--highlight);
    transition: 0s;
}

.contact__text strong.bold {
    font-style: italic;
    font-size: 1.1em;
}

.contact__address {
    margin-bottom: 2em;
}

.contact__address p {
    margin-bottom: 0.5em;
}

.contact__name {
    font-weight: bold;
    font-size: 1.2em;
}

@media (max-width: 800px) {
    .main-content {
        flex-direction: column;
    }

    .main-content__text {
       max-width: 90%;
       display: -webkit-box;
       -webkit-box-orient: vertical;
        -webkit-line-clamp: 10;
       /* white-space: pre-wrap;*/
        overflow: hidden;
        position: relative;
        transition: 0.5s;
    }

    .main-content__text::after {
        content: "";
        width: 100%;
        height: 24px;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .main-content__text p {
        font-size: 0.8em;
        margin-bottom: 1em;
    }

    .toggle-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        right: 0;
        bottom: 6px;
        padding: 0;
        width: 50px;
        height: 50px;
        border-top-left-radius: 50%;
        z-index: 1;
        background-color: white;
        cursor: pointer;
    }

    .toggle-text img {
        transition: 0.5s;
    }

    .toggle-text.active img {
        rotate: 180deg;
        transition: 0.5s;
    }

    .rating__main {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .heart__box {
        background-color: transparent;
        right: 6px;
        padding: 0;
    }

    .heart__box .heart:hover {
        cursor: pointer;
    }

    .heart__box p {
        visibility: hidden;
    }

    .card:hover {
        transform: scale(1);
    }

}

@media (max-width: 750px) {
    .article--background-img {
        padding: 1em;
    }
    
    .ak-container#main-header {
        flex-direction: column;
        padding-right: 0;
    }

    .nav__wrapper {
        order: -1;
        background-color: rgba(238, 238, 238, 0.7);
        border-bottom: 2px solid #eee;
    }

    .nav li {
        padding-top: 0;
        display: flex;
        flex-direction: row;
        gap: 0.25em;
        font-size: 0.9em;
        padding-left: 0;
    }

    .nav ul {
        margin: 0.5em 0;
        gap: 0;
        justify-content: space-evenly;
    }

    .li-home::before {
        content: "";
        display: block;
        background-image: url(../img/home.svg);
        background-size: contain;
        height: 24px;
        width: 24px;
    }

    .li-about::before {
        content: "";
        display: block;
        background-image: url(../img/about.svg);
        background-size: contain;
        height: 24px;
        width: 24px;
    }

    .li-phone::before {
        content: "";
        display: block;
        background-image: url(../img/Phone.svg);
        background-size: contain;
        height: 24px;
        width: 24px;
    }

    .li-tour::before {
        content: "";
        display: block;
        background-image: url(../img/travel.svg);
        background-size: contain;
        height: 24px;
        width: 24px;
    }

    .nav li {
        position: static;
    }

    .nav {
        position: relative;
    }

    .nav ul li ul.submenu {
        left: 0;
        bottom: -40px;
        opacity: 0;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        background-color: #f3f3f3;
        font-size: 0.8em;
        transition: all ease 0.3s;
    }

    .nav ul li a.active ~ .submenu {
        bottom: -60px;
        opacity: 1;
        transition: all ease 0.3s;
    }

    .nav ul.submenu li {
        padding: 0 4px;
    }

    .nav ul.submenu li a {
        height: auto;
    }

    .nav span {
        display: none;
    }

    .nav li:hover .submenu {
        visibility: hidden;
        bottom: -40px;
        transition: all ease 0.3s;
        opacity: 0;
    }

    

    
}

.u-carousel-indicators {
    bottom: -20px;
}

section a.u-carousel-control  {
    width: 36px;
    height: 36px;
    background-color: transparent;
    top: 80% !important;
}

.u-carousel .u-carousel-control span svg {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

section .u-carousel-control-prev {
    left: -48px;
}

section .u-carousel-control-next {
    right: -24px;
}

.u-carousel-indicators li {
    cursor: pointer;
}

@media (max-width: 800px) {
    section .u-carousel-control-prev {
        left: -36px;
    } 
}